<% layout("layouts/boilerplate")%>
<div id="cluster-map" ></div>
    <h1>All Campgrounds!!</h1>
    <div>
        <a href="/campgrounds/new">Add a new campground</a>
    </div>
    
    
    
    <% for(let camps of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col md-4">
                    <% if(camps.images.length) {%>
                    <img src="<%=camps.images[0].url%>" alt="" class = "img-fluid">
                    <% }%>
                </div>
                <div class = "col md-8">
                    <div class = "card-body">
                        <h5 class = "card-title"><%=camps.title%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=camps.location%></h6>
                        <p class = "card-text">
                            <%=camps.description%>
                        </p>
                        <a href="/campgrounds/<%=camps._id%>" class="card-link">Visit Campground</a>
                    </div>
                </div>
            </div>
        </div>
    
        <% }%>
    
    
        <script>
           const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
           const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
        </script>
        
        <script src="/javascripts/clusterMap.js"></script>   
    
    
   


